<h2>New Wishlist for <%= h @list.user.email %></h2>

<% semantic_form_for([@user, @list]) do |form| %>
  <%= form.error_messages %>
    <% form.inputs do %>
  	  <%= form.input :title %>
	<% end %>
  <% form.buttons do %>
    <%= form.commit_button "Create" %>
  <% end %>
<% end %>

